.register-container {
    min-height: 100vh;
    background: linear-gradient(to right, #F5E6DA, #E3D5C9);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    padding: 20px;
    flex-wrap: wrap;
    margin-top: 2rem;
  }
  
  .register-image-container {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .register-image {
    width: 80vh;
    height: auto;
    object-fit: cover;
    border-radius: 16px;
  }
  
  .register-form-container {
    width: 50%;
    max-width: 400px;
    padding: 32px;
  }
  
  .register-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #4A4A4A;
    margin-bottom: 24px;
    text-align: center;
  }
  
  .register-form {
    width: 100%;
  }
  
  .input-group {
    margin-bottom: 16px;
  }
  
  .input-label {
    display: block;
    color: #4A4A4A;
    font-size: 0.875rem;
    margin-bottom: 8px;
  }
  
  .input-field {
    width: 100%;
    padding: 8px 16px;
    background: #F8D7DA;
    border: 2px solid #FF6B6B;
    border-radius: 8px;
    outline: none;
  }
  
  .input-field:focus {
    border-color: #FF6B6B;
    box-shadow: 0 0 0 2px rgba(255, 107, 107, 0.5);
  }
  
  .register-button {
    width: 100%;
    background: #FF6B6B;
    color: white;
    padding: 10px 0;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  
  .register-button:hover {
    background: #343A40;
  }
  
  .register-text {
    font-size: 0.875rem;
    color: #4A4A4A;
    margin-top: 16px;
    text-align: center;
  }
  
  .login {
    color: #343A40;
    text-decoration: none;
  }
  
  .login:hover {
    text-decoration: underline;
  }

  @media (max-width: 1024px) {
    .register-container {
      flex-direction: column;
      justify-content: center;
      text-align: center;
      border: 2px solid red;
    }
    .register-image-container {
      width: 80%;
      margin-bottom: 20px;
    }
    .register-form-container {
      width: 80%;
    }
  }
  

  @media (max-width: 768px) {
    .register-container {
      flex-direction: column;
      justify-content: center;
      text-align: center;
    }
    .register-image-container {
      width: 90%;
    }
    .register-image {
      width: 100%;
    }
    .register-form-container {
      width: 90%;
      padding: 20px;
    }
    .register-title {
      font-size: 1.2rem;
    }
    .input-field {
      padding: 10px;
    }
    .register-button {
      padding: 12px 0;
    }
  }
  

  @media (max-width: 480px) {
    .register-container {
      padding: 10px;
    }
    .register-form-container {
      width: 100%;
    }
    .register-title {
      font-size: 1.1rem;}}