.outer_container{
    width: 100%;
    background-color: #E3D5C9;
}

.inner_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.search_container{
    position: relative;
    background-color: #343A40;
    width: 80%;
    font-weight: 600;
    font-size: 1.5rem;
    padding: 5px 0 25px 0;
    display: flex;
    justify-content: center;
    border-radius: 10px;

    & h1{
        color: white;
    }
    
}

.search_bar_container{
    position: absolute;
    width: 50%;
    top: 40px;
    background-color: white;
    border: 1px solid #FF6B6B;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 3px 20px;
}
.search_bar{
    width: 100%;
    outline: none;
    padding: 5px 10px;
    color: black;
    font-size: 1.2rem;
}
.search_icon{
    font-size: 1.5rem;
}
.search_bar::placeholder{
    color: gray;
    font-size: 1.2rem;

}


/* filter  */
.category_filter{
 width: 100%;
 margin-top: 2rem;
 display: flex;
 justify-content: center;

    & ul{
        width: 50%;
        display: flex;
            justify-content: space-between;


            & li{
                padding: 7px 30px;
                border-radius: 15px;
                cursor: pointer;
                


                &:hover{
                    background-color: #FF6B6B;
                }
            }
    }
}
@media (max-width:740px) {
    .search_container{
        width: 95%;
    }
    .search_bar_container{
        width: 100%
    }
}

@media (max-width:1000px) {
    .category_filter{
        display: none;
    }
}