.outer_container{
    margin-top: 5rem;
   
    padding: 3rem 10rem;

}
.inner_container{
    display: flex;
    flex-direction: column;
    gap: 1rem;

    & h2{
        font-size: 1.5rem;
        font-weight: 500;
    }
}
.author_con{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    
    
    & .author_left{
        display: flex;
        align-items: center;
        gap: 1rem;
       width: 3rem;

        

        & .profile_details{
            display: flex;
            flex-direction: column;

            & h3{
                font-weight: 600;
            }
        }
    }
}
.author_con .author_right{
   
    & .author_btn{
        border: 2px solid #FF6B6B;
        padding: 3px 20px;
        border-radius: 30px;
        background-color:#F8D7D8
    }
}

.image_container{
        width: 100%;
        height: 20rem;
    & img{
        height:100% ;
        width: 100%;
        object-fit: cover;
        border-radius: 10px;
    }
}
.blog_details{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    & h3{
        font-weight: 600;
    }
    & p{
        color: rgb(78, 76, 76);
    }
}

.review_container{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    & h3{
        font-weight: 600;
    }

    & .input_container{
        position: relative;

        & input{
            width: 100%;
            padding: 0.5rem;
            padding-right: 2.5rem;
            border-radius: 10px;
            border: 2px solid black;
            outline: none;
        }

        & .send_icon{
            position: absolute;
            right: 10px;
            top: 14px;
            font-size: 1.2rem;
        }
    }
}

@media (max-width:1000px) {
    .outer_container{
        padding: 2rem 3rem;
    
    }
    
}
@media (max-width:750px) {
    .outer_container{
        padding: 1rem 0.5rem;
    
    }
}